{
	"Server": {
		"Address": "127.0.0.1",
		"Port": 18000
	},

	"Buckets": {
		"AWS bucket name": {
			"AccessKeyId": "",
			"SecretAccessKey": ""
		},
		"AWS bucket name using IAM roles": {
			"IAMRole": "RoleName"
		},
		"AWS bucket name using IAM roles and encryption": {
			"IAMRole": "RoleName",
			"EncryptionKey": "0123456789ABCDEF"
		}
	}
}
